.upload-article-container {
	width: 60%;
	background-color: #a4c3b2;
	padding: 15px;
	padding-right: 10px;
	border-radius: 15px;
}

.top-hero-article {
	display: flex;
	justify-content: space-around;
}

.title-input,
.signature-input,
#category {
	margin: 10px;
}

.article-input-area {
	margin-top: 10px;
	width: 100%;
}

.write-article {
	background-color: #cce3de;
	margin-left: 10px;
}

@media (max-width: 1050px) {
	.top-hero-article {
		flex-direction: column;
	}
	.title-input,
	.signature-input,
	.article-input-area,
	#category {
		max-width: 90%;
	}

	#category {
		height: 35px;
		width: 94%;
	}
}
