/* >> DARK-GREEN << */

/* 
Dark-brown
#231c07

Dark-green
#1a321c

Green
#6b9080 

Pond-green
#a4c3b2

Light-green
#cce3de 
*/

/* >> LIGHT-GREEN << */

/* 
Green
#6B9080

Pond-green
#A4C3B2

Light-green
#CCE3DE

White-green
#EAF4F4

Hyper-green
#F6FFF8 
*/

/* >> BLUE << */

/* 
Light-grey
#f7f7f7

Slate-grey
#343a40

Medium-grey
#a9a9a9

Light-blue
#569cd6

Dark-blue
#00416a 
*/

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f6fff8;
}

button {
	cursor: pointer;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #a4c3b2;
	border: 0px;
	border-radius: 5px;
	width: 15em;
}

button:hover {
	text-decoration: underline;
}

li {
	list-style: inside circle;
	cursor: pointer;
	margin: 5px;
}

li:hover {
	color: white;
}

label {
	margin: 5px;
}

input {
	padding: 5px;
	width: 15em;
	border-radius: 3px;
	border: 1px solid #6b9080;
	height: 2em;
}

input:focus {
	outline: 3px solid #6b9080;
}

hr {
	height: 2px;
	background-color: rgb(0, 0, 0);
	border: none;
}

.loading {
	font-size: 35px;
	position: absolute;
	top: 45%;
}
