/* 
Light-grey
#f7f7f7

Slate-grey
#343a40

Medium-grey
#a9a9a9

Light-blue
#569cd6

Dark-blue
#00416a 
*/

* {
	padding: 0px;
	margin: 0px;
	font-size: 100%;
	vertical-align: baseline;
	font-family: 'Alata';
	color: #343a40;
}

body {
	background-color: #f7f7f7;
}

button {
	cursor: pointer;
	padding: 0.5em;
	border-radius: 0.35em;
	border: 1px solid;
	background-color: #f7f7f7;
}

input {
	padding: 0.5em;
	border-radius: 0.5em;
}

button:hover {
	box-shadow: 2px 2px 2px #569cd6;
}

button:hover,
label:hover,
#check:hover {
	transform: scale(103%);
}
