.nav {
	display: flex;
	padding: 0.5em;
	height: 3em;
	background-color: #f7f7f7;
	border-bottom: 2px solid black;
}

.nav-search {
	margin-left: 5px;
	margin-right: 5px;
}

.home-btn {
	min-width: 8em;
}

.nav-assets {
	display: flex;
	gap: 1em;
}

.theme-slider {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 5em;
}

.icon-img {
	cursor: pointer;
	height: 3em;
	max-width: 50px;
}

.icon-img:hover,
.theme-slider:hover,
.nav-search:hover {
	transform: scale(105%);
}

.nav-search:focus {
	transform: scale(105%);
	outline: none;
	border: 2px solid #569cd6;
	border-radius: 0.5em;
}

.nav-search:hover {
	box-shadow: 1px 1px 1px #569cd6;
}

.plus {
	transition: background-color 0.3s ease;
	border-radius: 1em;
}

.plus:hover {
	background-color: rgba(86, 156, 214, 0.7);
}

.mail {
	transition: background-color 0.3s ease;
	border-radius: 0.35em;
	height: 2.5em;
}

.mail:hover {
	background-color: rgba(86, 156, 214, 0.7);
}

.slider-img {
	height: 2em;
}

.profile-div {
	width: 2em;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-left: 1em;
}

.user-img {
	height: 3em;
	max-width: 50px;
	cursor: pointer;
	border-radius: 1.5em;
	transition: background-color 0.3s ease;
}

.user-img:hover {
	transform: scale(105%);
	background-color: rgba(86, 156, 214, 0.7);
}

.mobile-nav-deactive {
	display: flex;
	align-items: center;
	gap: 1em;
}
.mobile-nav-active {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Drop Down Menu */

.dropdown {
	background-color: #f7f7f7;
	margin: 0.5em;
	border-radius: 0.25em;
	border: 1px solid;
}

.profile-dropdown {
	height: fit-content;
}

.dropdown-content {
	min-width: 80px;
}

a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: flex;
	justify-content: end;
}

a:hover {
	background-color: rgba(86, 156, 214, 0.7);
	border-radius: 0.25em;
}

.profile-dropdown.deactive {
	display: none;
}
