@keyframes fadeIn {
	0% {
		background-color: none;
	}
	100% {
		background-color: white;
	}
}

.signUp-form {
	background-color: #a4c3b2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	/* width: 60%;
	height: 80%; */
	margin: auto;
	padding: 15px;
	position: fixed;
	border-radius: 50px;
	top: 30%;
	left: 20%;
	right: 20%;
}

.third-party-signup {
	display: flex;
	justify-content: space-evenly;
	cursor: pointer;
	padding: 10px;
	transition: 0.75s background;
	border: 3px solid white;
	border-radius: 10px;
	margin: 10px;
}

.third-party-signup:hover {
	background-color: white;
}

.thirdPartyLogo {
	cursor: pointer;
	height: 350px;
	width: 400px;
}

.flex {
	display: flex;
}

@media (max-width: 1450px) {
	.thirdPartyLogo {
		height: 250px;
		width: 300px;
	}
	.third-party-signup {
		height: 250px;
	}
}

@media (max-width: 1135px) {
	.flex {
		flex-direction: column;
	}
	.signUp-form {
		top: 20%;
		left: 20%;
		right: 20%;
	}
}

@media (max-width: 600px) {
	.thirdPartyLogo {
		height: 200px;
		width: 200px;
	}
}
