input[type='checkbox'].toggle {
	opacity: 0;
	position: absolute;
	left: -9000px;
	top: -9000px;
}

input[type='checkbox'].toggle + label {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
}

input[type='checkbox'].toggle + label::before {
	content: '';
	width: 5.25em;
	height: 2.8em;
	background-color: rgba(197, 217, 209);
	border-radius: 1em;
	margin-right: 0.25em;
	transition: background-color 200ms ease-in-out;
}

input[type='checkbox'].toggle + label::after {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	content: '';
	background: url(../assets/sun.png) no-repeat center center;
	background-size: 5em;
	font-size: 0.5em;
	height: 0.9em;
	left: 0.2em;
	width: 5em;
	height: 6em;
	color: white;
	border-radius: 1em;
	transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type='checkbox'].toggle:focus + label::before {
	outline: 1px solid black;
}

input[type='checkbox'].toggle:checked + label::before {
	background-color: #6b9080;
}

input[type='checkbox'].toggle:checked + label::after {
	background: url(../assets/moon.png) no-repeat center center;
	background-size: 5em;
	transform: translateX(100%);
}
